*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

section{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
  overflow:hidden;
}

p{
  font-size:1.3em;
  line-height:0.75em;
  letter-spacing:-0.05em;
  max-width:800px;
  text-align:justify;

  background:url(face.jpg);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;

  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
}
